.mainContainer{
    width: 100%;
    padding: .5rem;
    background: var(--bg-secondary);
    border-radius: .6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    & img{
        width: 3rem;
        height: 3rem;
        background: var(--bg-base);
        border-radius: 50%;
        fill:red;
    }

    & .search{
        width: 10%;
        height: 3rem;
        padding: .5rem;
        background: var(--bg-base);
        border-radius: 1.2rem;
        font-family: "Rubik";
        color: var(--text-primary);
        transition: all .4s ease-in-out;
        display: flex;
        align-items: center;

        &:hover{
            background: #434242;
            width: 30%;
        }
    }

}