/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .5rem;
    background: var(--bg-base);
}

* {
    box-sizing: border-box;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

:root {
    --bg-base: #414141;
    --bg-primary: #111015;
    --bg-secondary: #1a1a1c;
    --bg-container: #2f2e2e;
    --bg-container-hover: #444343;

    --text-primary: #edecec;
    --text-secondary: #a0a0a0;

    --red-container: #c24e3a;
    --red-container-transparency: #c24e3ab3;
}
